<foooter>
  <div class="footer-container">
    <div class="footer-section-central">
      <p class="central-title">Central de Atendimento</p>
      <div class="division-bar-container">
        <div class="bar-1"></div>
        <div class="bar-2"></div>
      </div>
      <ul class="central-list">
        <li class="central-item">Ajuda e suporte</li>
        <li class="central-item">Fale conosco</li>
        <li class="central-item">Faq</li>
      </ul>
      <p class="contact">WhatsApp: (11) 99999-9999</p>
      <div class="schedules-container">
        <p class="schedules-title">Nossos horários:</p>
        <p class="schedules-description">Segunda a sexta das 9h às 19h</p>
      </div>
    </div>
    <div class="footer-section-seals">
      <p class="seals-title">Selos de Segurança</p>
      <div class="division-bar-container">
        <div class="bar-1"></div>
        <div class="bar-2"></div>
      </div>
      <div class="seals-images">
        <img
          src="/assets/images/seals/google-seal.png"
          alt="Selo de Segurança Google"
          class="seal-item"
        />
        <img
          src="/assets/images/seals/lojaprotegida-seal.png"
          alt="Selo de Segurança Loja Protegida"
          class="seal-item"
        />
      </div>
    </div>
    <div class="footer-section-payment">
      <p class="payment-title">Formas de Pagamento</p>
      <div class="division-bar-container">
        <div class="bar-1"></div>
        <div class="bar-2"></div>
      </div>
      <div class="payment-images">
        <img
          src="/assets/images/payment/visa.png"
          alt="Visa"
          class="paynment-item"
        />
        <img
          src="/assets/images/payment/mastercard.png"
          alt="MasterCard"
          class="paynment-item"
        />
        <img
          src="/assets/images/payment/amex.png"
          alt="Amex"
          class="payment-item"
        />
        <img
          src="/assets/images/payment/diners.png"
          alt="Diners"
          class="payment-item"
        />
        <img
          src="/assets/images/payment/discover.png"
          alt="Discover"
          class="payment-item"
        />
        <img
          src="/assets/images/payment/barcode.png"
          alt="Código de barra"
          class="payment-item barcode"
        />
        <img
          src="/assets/images/payment/pix.png"
          alt="pix"
          class="payment-item pix"
        />
      </div>
    </div>
  </div>
</foooter>
