<header>
  <div class="header-container">
    <div class="logo-container">
      <a href="index.html">
        <img
          src="../assets/images/logo/logo.png"
          alt="Catus Logo"
          class="logo"
        />
      </a>
    </div>
    <nav>
      <ul>
        <li>Loja</li>
        <li>Login</li>
        <li>Sobre</li>
        <li>Contato</li>
      </ul>
    </nav>
    <div class="icons-container">
      <div class="seach-bar">
        <input
          type="text"
          placeholder="Digite aqui sua busca"
          id="search-input"
        />
        <img
          src="/assets/images/icons/search.svg"
          alt="Buscar"
          class="search-icon"
        />
      </div>
      <div class="cart-container">
        <img
          src="/assets/images/icons/cart.svg"
          alt="Carrinho de compras"
          class="cart-icon"
        />
      </div>
    </div>
  </div>
</header>
