<div class="products-list-container">
  <p class="products-list-title">Oportunidades para economizar</p>
  <p class="drag-text">Arraste para o lado -></p>
  <div class="carousel-container">
    <ul class="products-list">
      <li class="product-container">
        <img
          src="/assets/images/products/product-1.png"
          alt=""
          class="product-image"
        />
        <p class="product-name">
          Aliquam congue nisl ele ac ligula convallis, luctus blandit augue.
        </p>
        <p class="old-product-price">de R$ 582,90</p>
        <p class="product-price">R$ 238,41</p>
        <p class="product-payment">
          <span class="bold-effect">5x</span> de
          <span class="bold-effect">R$ 47,68</span>
          sem juros
        </p>
        <button class="add-to-cart-btn" data-id="1">
          Adicionar ao carrinho
        </button>
      </li>
      <li class="product-container">
        <img
          src="/assets/images/products/product-2.png"
          alt=""
          class="product-image"
        />
        <p class="product-name">
          Aliquam congue nisl ele ac ligula convallis, luctus blandit augue.
        </p>
        <p class="old-product-price">de R$ 582,90</p>
        <p class="product-price">R$ 238,41</p>
        <p class="product-payment">
          <span class="bold-effect">5x</span> de
          <span class="bold-effect">R$ 47,68</span>
          sem juros
        </p>
        <button class="add-to-cart-btn" data-id="2">
          Adicionar ao carrinho
        </button>
      </li>
      <li class="product-container">
        <img
          src="/assets/images/products/product-3.png"
          alt=""
          class="product-image"
        />
        <p class="product-name">
          Aliquam congue nisl ele ac ligula convallis, luctus blandit augue.
        </p>
        <p class="old-product-price">de R$ 582,90</p>
        <p class="product-price">R$ 238,41</p>
        <p class="product-payment">
          <span class="bold-effect">5x</span> de
          <span class="bold-effect">R$ 47,68</span>
          sem juros
        </p>
        <button class="add-to-cart-btn" data-id="3">
          Adicionar ao carrinho
        </button>
      </li>
      <li class="product-container">
        <img
          src="/assets/images/products/product-4.png"
          alt=""
          class="product-image"
        />
        <p class="product-name">
          Aliquam congue nisl ele ac ligula convallis, luctus blandit augue.
        </p>
        <p class="old-product-price">de R$ 582,90</p>
        <p class="product-price">R$ 238,41</p>
        <p class="product-payment">
          <span class="bold-effect">5x</span> de
          <span class="bold-effect">R$ 47,68</span>
          sem juros
        </p>
        <button class="add-to-cart-btn" data-id="4">
          Adicionar ao carrinho
        </button>
      </li>
    </ul>
  </div>
</div>
